[submodule "files/.oh-my-zsh"]
	path = files/.oh-my-zsh
	url = https://github.com/sparticvs/oh-my-zsh.git
[submodule "files/.vim/bundle/tlib_vim"]
	path = files/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "files/.vim/bundle/vim-addon-mw-utils"]
	path = files/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "files/.vim/bundle/vim-snipmate"]
	path = files/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "files/.vim/bundle/vim-snippets"]
	path = files/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "files/.vim/bundle/tagbar"]
	path = files/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "files/.vim/bundle/vim-latex"]
	path = files/.vim/bundle/vim-latex
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "files/.vim/bundle/typescript-vim"]
	path = files/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
